.paragraph {
  margin: 0;
  font-weight: 400;
}

.big {
  font-size: 1.8rem;
  line-height: 2.9rem;
}

.med {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.small {
  font-size: 1.4rem;
  line-height: 2.4rem;
}