#parsed h1 {
  margin: 2rem 0;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 3.5rem;
}

#parsed h2 {
  margin: 2rem 0;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 3rem;
}

#parsed h3 {
  margin: 1.5rem 0;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.7rem;
}

#parsed ul {
  margin: 1rem 0;
  list-style: disc;
}