@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-base-size: 62.5%;
  --black: #3B434E;
  --white: #fff;
  --white-hover: #cfcfcf;
  --primary: #7653FC;
  --primary-hover: #5c3ae3;
  --red: #FC836D;
  --bloody: #DE0000;
  --green: #1DC37E;
  --green-light: #C8F8E4;
  --grey-light: #ebebeb;
  --grey-dark: #787D85;
  --grey: #B3C0D9;
}

html,
body {
  font-size: var(--font-base-size);
  color: var(--black);
  background: #F5F6F8;
}

.layout {
  grid-template-areas:
    "header"
    "site-content"
    "footer";
}

@layer components {
  .layout-main {
    grid-template-areas: ". header header ."
      ". sidebar site-content ."
      "footer footer footer footer"
  }

  .filled {
    circle {
      fill: var(--red)
    }
  }
}

.header {
  grid-area: header;
}

.site-content {
  grid-area: site-content;
}

.sidebar {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
}