@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-base-size: 62.5%;
  --black: #3B434E;
  --white: #fff;
  --primary: #7653FC;
  --primary-hover: #5c3ae3;
  --red: #FC836D;
  --green: #1DC37E;
  --green-light: #C8F8E4;
  --grey-light: rgba(235 235 235 / 100%)
}

html,
body {
  font-size: var(--font-base-size);
  color: var(--black);
  background: #F5F6F8;
}