@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-base-size: 62.5%;
  --black: #3B434E;
  --white: #fff;
  --white-hover: #cfcfcf;
  --primary: #7653FC;
  --primary-hover: #5c3ae3;
  --red: #FC836D;
  --bloody: #DE0000;
  --green: #1DC37E;
  --green-light: #C8F8E4;
  --grey-light: #ebebeb;
  --grey-dark: #787D85;
  --grey: #B3C0D9;
}

html,
body {
  font-size: var(--font-base-size);
  color: var(--black);
  background: #F5F6F8;
}

.layout {
  grid-template-areas:
    "header"
    "site-content"
    "footer";
}

@layer components {
  .layout-main {
    grid-template-areas: ". header header ."
      ". sidebar site-content ."
      "footer footer footer footer"
  }

  .product-main {
    grid-template-areas:
      "logo . title . price . credit . rate"
      "logo . tags . price-text . credit-text . rate-text"
      "hr-1 hr-1 hr-1 hr-1 hr-1 hr-1 hr-1 hr-1 hr-1"
      "descr descr descr descr descr descr descr descr descr"
      "features features features adv adv adv adv adv adv"
      "hr-2 hr-2 hr-2 hr-2 hr-2 hr-2 hr-2 hr-2 hr-2"
      "buttons buttons buttons buttons buttons buttons buttons buttons buttons"
    ;
    grid-template-columns: [start] 7rem [logo-end] 3rem [title-start] calc(50% - 10rem) [med] 1fr [price-start] auto [price-end] 4rem [credit-start] auto [credit-end] 4rem [rate-start] auto [end];
  }

  .product-md {
    grid-template-areas:
      "logo . title title title title title"
      "logo . tags tags tags tags tags"
      "price price price . credit . rate"
      "price-text price-text price-text . credit-text . rate-text"
      "hr-1 hr-1 hr-1 hr-1 hr-1 hr-1 hr-1"
      "descr descr descr descr descr descr descr"
      "features features features features features features features"
      "adv adv adv adv adv adv adv"
      "hr-2 hr-2 hr-2 hr-2 hr-2 hr-2 hr-2"
      "buttons buttons buttons buttons buttons buttons buttons"
    ;
    grid-template-columns: [start] 7rem [logo-end] 3rem [title-start] auto [med] 4rem [credit-start] auto [credit-end] 4rem [rate-start] 1fr [end];
  }

  .product-sm {
    grid-template-areas:
      "logo . title"
      "logo . tags"
      "price-text price-text price"
      "credit-text credit-text credit"
      "rate-text rate-text rate"
      "hr-1 hr-1 hr-1"
      "descr descr descr"
      "features features features"
      "adv adv adv"
      "hr-2 hr-2 hr-2"
      "buttons buttons buttons"
    ;
    grid-template-columns: [start] 7rem [logo-end] 3rem [title-start] 1fr [end];
  }

  .product-xs {
    grid-template-areas:
      "logo"
      "title"
      "tags"
      "price"
      "price-text"
      "credit"
      "credit-text"
      "rate"
      "rate-text"
      "hr-1"
      "descr"
      "features"
      "adv"
      "hr-2"
      "buttons"
    ;
    grid-template-columns: 1fr;
  }

  .filled {
    circle {
      fill: var(--red)
    }
  }
}

.header {
  grid-area: header;
}

.site-content {
  grid-area: site-content;
}

.sidebar {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
}