.logo {
  grid-area: logo;
}

.title {
  grid-area: title;
}

.tags {
  grid-area: tags;
}

.price {
  grid-area: price;
}

.price-text {
  grid-area: price-text;
}

.credit {
  grid-area: credit;
}

.credit-text {
  grid-area: credit-text;
}

.rate {
  grid-area: rate;
}

.rate-text {
  grid-area: rate-text;
}

.description {
  grid-area: descr;
}

.hr1 {
  grid-area: hr-1;
}

.hr2 {
  grid-area: hr-2;
}

.features {
  grid-area: features;
}

.adv-block {
  grid-area: adv;
}

.buttons {
  grid-area: buttons;
}